# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
test.py
*.py[cod]
*.pyc
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*


# Folders to ignore
node_modules
bower_components
